body {
  background-color: slategrey;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
}
.address{
    text-align: left;
    /* margin: 5%;
    padding: 5%; */
    border: solid rgb(255, 255, 255) 2px;
    list-style: none;
    font-size: 25px;
    background-color: rgb(90, 95, 173);
    /* border-radius: 15%; */
}
.label{
    font-size: 30px;
}
.input{
    font-size: 30px;
}
.button{
    font-size: 25px;
    background-color: rgb(97, 148, 190);
    border-radius: 15%;
}
.form{
    display: flex;
    align-items: center;
    margin-top: 1%;
}